#login-dialog {
  display: none;
  position: fixed;
  top: 50%;
  height: auto;
  overflow: hidden;
  z-index: 9999;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

#login-dialog div,
#login-dialog button,
#login-dialog p {
  margin: 10px;
}

#messageArea {
  height: 20px;
  width: 100%;
  color: black;
}

#messageArea.error {
  color: red;
}
