:root {
  --main-width-searchconditions: 650px;
  --main-margin-left-input: 25px;
}

#SearchConditions {
  display: inline-block;
  width: var(--main-width-searchconditions);
  font-size: 17px;
  background-color: #F1F1FF;
}

#ExtractionResult {
  display: inline-block;
  width: 500px;
  background-color: #F1FFFF;
  vertical-align: top;
}

@media screen and (min-width: 1220px) {
  #ExtractionResult {
    width: calc(100vw - var(--main-width-searchconditions) - 70px);
    margin-left: 15px;
  }
}

@media screen and (min-width: 1520px) {
  #ExtractionResult {
    width: 800px;
    margin-left: 15px;
  }
}

.form-group {
  margin-top: 12px;
  vertical-align: top;
}

.form-control {
  height: 34px;
  font-size: 17px;
  padding-bottom: 7px;
}

.selectize-input {
  padding-top: 8px;
  padding-bottom: 5px;
}

.checkbox-inline {
  margin-left: 10px !important;
}

.shiny-input-container {
  display: inline-block;
}

.shiny-input-checkboxgroup.shiny-input-container-inline label~.shiny-options-group {
  margin-left: -10px;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: -16px;
}

#row {
  display: block;
}


#filter {
  vertical-align: top;
}

#clear {
  vertical-align: top;
  margin-left: 10px;
}

#download_button {
  vertical-align: top;
  margin-left: 10px;
}

#facility+ div>.selectize-input, #facility+ div>.selectize-dropdown {
  vertical-align: top;
  width: 320px;
}


#id_fac {
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: top;
  background-color: #EEEEEE;
  border: thin solid #CCCCCC;
  border-radius: 5px;
  margin-top: 41px;
  margin-left: var(--main-margin-left-input);
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#text_id_fac {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  margin-top: 46px;
  margin-left: 2px;
}

#id_l {
  width: 85px;
  vertical-align: top;
  margin-left: 2px;
}

#id_l-label {
  margin-left: -92px;
}

#type+ div>.selectize-input, #type+ div>.selectize-dropdown {
  display: inline-block;
  width: 280px;
  vertical-align: top;
}

#type_start_only {
  margin-left: calc(var(--main-margin-left-input) - 18px);
}

#type_start_only+ span {
  margin-left: var(--main-margin-left-input);
}

#age_lower {
  vertical-align: top;
  width: 85px;
}

#text_age_lower_1 {
  display: inline-block;
  margin-top: 54px;
}

#text_age_lower_2 {
  display: inline-block;
  margin-top: 48px;
  vertical-align: top;
  font-size: 20px;
}

#age_upper {
  vertical-align: top;
  width: 85px;
}

#text_age_upper {
  display: inline-block;
  margin-top: 54px;
}

#gender+ div>.selectize-input, #gender+ div>.selectize-dropdown {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin-left: var(--main-margin-left-input);
}

#gender-label {
  margin-left: var(--main-margin-left-input);
}

#outcome+ div>.selectize-input, #outcome+ div>.selectize-dropdown {
  display: inline-block;
  width: 110px;
  vertical-align: top;
}

#term_lower {
  width: 85px;
  vertical-align: top;
  margin-left: var(--main-margin-left-input);
}

#term_lower-label {
  margin-left: var(--main-margin-left-input);
}

#text_term_lower_1 {
  display: inline-block;
  margin-top: 54px;
}

#text_term_lower_2 {
  display: inline-block;
  font-size: 20px;
  margin-top: 48px;
  vertical-align: top;
}

#term_upper {
  width: 85px;
  vertical-align: top;
}

#text_term_upper {
  display: inline-block;
  margin-top: 54px;
}

#iss+ div>.selectize-input, #iss+ div>.selectize-dropdown {
  display: inline-block;
  width: 110px;
  vertical-align: top;
  margin-left: var(--main-margin-left-input);
}

#iss-label {
  margin-left: var(--main-margin-left-input);
}

#mprotein+ div>.selectize-input, #mprotein+ div>.selectize-dropdown {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

#mprotein_kl+ div>.selectize-input, #mprotein_kl+ div>.selectize-dropdown {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

#bjp+ div>.selectize-input, #bjp+ div>.selectize-dropdown {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin-left: var(--main-margin-left-input);
}

#bjp-label {
  margin-left: var(--main-margin-left-input);
}

#bjp_kl+ div>.selectize-input, #bjp_kl+ div>.selectize-dropdown {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

#progress {
  margin-top: 10px;
}

#regimen+ div>.selectize-input, #regimen+ div>.selectize-dropdown {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}

#drug {
  display: inline-block;
  vertical-align: top;
}

#radiation+ div>.selectize-input, #radiation+ div>.selectize-dropdown {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

#sct+ div>.selectize-input, #sct+ div>.selectize-dropdown {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin-left: var(--main-margin-left-input);
}

#sct-label {
  margin-left: var(--main-margin-left-input);
}

#cr_lower {
  width: 80px;
  vertical-align: top;
  margin-left: var(--main-margin-left-input);
}

#cr_lower-label {
  margin-left: var(--main-margin-left-input);
}

#text_cr_lower_1 {
  display: inline-block;
  margin-top: 54px;
}

#text_cr_lower_2 {
  display: inline-block;
  font-size: 20px;
  margin-top: 48px;
  vertical-align: top;
    /*display: inline-block;
    margin-top: 15px;
    font-size: 20px;*/
}

#cr_upper {
  width: 80px;
  vertical-align: top;
}

#text_cr_upper {
  display: inline-block;
  margin-top: 54px;
}

#keyword {
  display: block;
  width: 450px;
}

#facilities .dataTables_wrapper {
  width: 550px;
}

th {
  text-align: center !important;
}

table.dataTable th.dt-right {
  text-align: center;
}